*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  min-block-size: 100svh;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

a {
  color: inherit;
}
